.background{
    height: 100vh;
    width: 100%;
}

.leftContainer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contactForm {
    max-width: 420px;
    margin: auto 0;
}

.contactTitle {
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 15px;
}

.feedbackInput {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #ff3f81;
    transition: all 0.3s;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedbackInput:focus {
    border: 2px solid #5d94c7;
}

#comment {
    height: 200px;
    line-height: 150%;
    resize: vertical;
}

.submitFormBtn {
    width: 100%;
    background: #ff3f81;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.submitFormBtn:hover {
    background: #5d94c7;
}