.projectInfoContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15%;
}

.projectHeader {
    font-family: Oswald, Montserrat, arial, sans-serif;
    margin: 0;
    font-size: 30px;
    letter-spacing: 8px;
}

.projectIdentifier {
    font-size: 45px;
    font-weight: 800;
    color: var(--light);
}

.projectTitle {
    font-weight: 800;
    color: var(--dark);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.projectTitle:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--light);
    height: 10px;
    width: 50%;
    border-radius: 5px;
}

.projectInfoList {
    list-style-type: disc;
    margin-left: 10px;
}
.projectInfoList li::marker {
    font-size: 1.5em;
}

.projectDesc {
    font-size: 16px;
    font-weight: 600;
    line-height: 2.5em;
    margin-top: 10px;
    color: var(--dark);
    max-width: 80%;
}

.projectButtons {
    display: flex;
    gap: 10px;
}