* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar {
      display: none;
    }
}
form .form-group {
  margin-bottom: 15px;
  position: relative;
}
form input.error,
form select.error,
form textarea.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

img {
  -webkit-user-drag: none;
}