* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar {
      display: none;
    }
}
form .form-group {
  margin-bottom: 15px;
  position: relative;
}
form input.error,
form select.error,
form textarea.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

img {
  -webkit-user-drag: none;
}

.slick-dot{
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover{
    width: 40px;
    transition: 0.3s ease;
  }
}
.slick-active > .slick-dot {
  cursor: auto;
  width: 40px;
  background-color: #30305a;
}