* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ::-webkit-scrollbar {
      display: none;
    }
}
body {
  background-color: #dedede;
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}
form input.error,
form select.error,
form textarea.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

img {
  -webkit-user-drag: none;
}

.slick-dots{
  width: 50px !important;
  position: absolute !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  display: flex !important;
  align-items: center !important;
}
.slick-prev{
  display: none !important;
}
.slick-next{
  display: none !important;
}
