.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    position: relative;
}

.dotList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
}
.slickDot{
    width: 20px;
    height: 20px;
    background-color: var(--slick-dot-bg);
    border-radius: 20px;
    cursor: pointer !important;

    &:hover {
        width: 40px;
        background-color: var(--slick-dot-bg-active);
        transition: 0.3s ease;
    }
}
:global(.slick-active) .slickDot {
    background-color: var(--slick-dot-bg-active);
}