.slide{
    height: 100vh;
    display: flex;
    background: linear-gradient(0deg, var(--bgColor1) 0%, var(--bgColor2) 100%);
    scroll-snap-align: center;
}
.particles canvas {
    z-index: -1;
    height: 100%;
    width: calc(100% - 100rem);
    position: absolute;
    top: 0;
    left: 0;
}