.stairs {
    .transitionContainer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: 2;
    }

    .transitionContainer>div {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #a39c89;
    }

    .transitionBackground {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #a39c89;
        z-index: 1;
        pointer-events: none;
        top: 0;
        left: 0;
    }
}